
body {
  color: rgb(51,51,51);
  border-width: 5px;
  font-family: 'Courier New', Courier, monospace;
}

h1{
 text-align: center;
 color: blueviolet; 
 flex-basis: inherit;
 text-emphasis-position: 3px;
}

.container{

display: flex;
flex-direction:column;
justify-content: center;
justify-items: center;
background-color: aquamarine;
width:1540px;
min-height: 300px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
-webkit-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
padding: 20px;
}

.wrap{
  display: inherit;
  flex-direction: inherit;
  justify-content: center;
  justify-items: center;
  flex-grow: initial;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
   border-radius: 20px;
  -moz-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
  -webkit-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
  box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
  padding: 20px;
  min-width: 400px;
  min-height: 200px;
  background-color: aliceblue;
}
  .col-left{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  /*background-color: rgb(173, 114, 228);*/
  min-width: 200px; 
  
  }
  .col-right{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-around;
    /*background-color: blue;*/
    min-width: 200px; 
    
    }
    .right{
      display: flex;
      flex-direction: column;
      align-items: center;
      
      
    }
        
    .left{
        display: flex;
        flex-direction: column;
        align-items: right;
              
      }

.label-name .label-email .label-age .label-role{
  flex-direction: row;
  justify-content: space-between;
}

.input-name .input-email .input-age .input-role{
  flex-direction: row; 
  justify-items: auto;
  justify-content: space-between;
  color: sandybrown;
  padding-bottom: 5px;
 }
 
 .audio{ 
  flex-direction:column;
  display: flex;
  align-items: center;
}




  